<mat-dialog-content class="dialog-content">
  <div class="header-row">
    <h1>
      Auto-claimer
    </h1>
    <button mat-button mat-dialog-close>X</button>
  </div>
  <div class="dialog-body">
    <div>
    </div>
    <img class="active-claim-img" width="74" src="/assets/robot.png" alt="boost-img">
    <p class="act-auto-claim text-white m-0">{{ 'auto_claim_dialog_info' | translate }}</p>
    <button disabled (click)="buyAutoClaimer()" class="btn buy-bonus">{{ 'buy_for' | translate }} 200 ⭐</button>
  </div>
</mat-dialog-content>
