@import "../../custom-theme";

.purchases-dialog {
  background: $base-modal-bg;
  background: $base-modal-gradient;

  &__info {
    line-height: 1.5;
    font-size: 11px;
    text-align: center
  }

  &__container {
    border-radius: 10px;
    height: 200px;
    max-height: 250px;
    overflow-y: scroll
  }

  &__inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 5px;
    background: radial-gradient(circle, rgb(88 93 99) 0%, rgb(23 30 38) 100%);
    border-radius: 5px;
  }
}
