<mat-dialog-content class="dialog-content" >
  <div style="user-select: none" class="text-center item-card">
    <img class="coin-image" style="filter: drop-shadow(0 0 0.55rem mediumvioletred)" width="200" src="{{ data.imgSrc }}" alt="Coin">
    <div>
      <p style="color: white; margin-top: 10px; margin-bottom: 0">{{ data.profitByTib }} Tib</p>
      <span style="color: wheat" class="m-0">{{ data.costByStar }} ⭐</span>
    </div>
    <button style="border-radius: 25px" class="btn buy-bonus w-100 btn-danger">
      Buy
    </button>
  </div>
</mat-dialog-content>
